.tip {
  border-left: 5px solid #007BFF;
  padding: 10px 15px 10px 20px;
  background-color: #f0f8ff;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}

.tip h4 {
  margin-top: 0;
  margin-left: -8px;
  font-weight: bold;
}

.tip h4::before {
  content: "💡";  /* Lightbulb emoji */
  font-size: 1.5em; /* Icon size */
  margin-right: 8px; /* Space between icon and text */
}

.tip p {
  padding-left: 30px;  /* Move the text 18px to the right */
}



.challenge {
  border-left: 5px solid #FF7300;
  padding: 10px 15px 10px 20px;
  background-color: #FFF3E0;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}

.challenge h4 {
  margin-top: 0;
  margin-left: -8px;
  font-weight: bold;
}

.challenge h4::before {
  content: "🐐";  /* Lightbulb emoji */
  font-size: 1.5em; /* Icon size */
  margin-right: 8px; /* Space between icon and text */
}

.challenge p {
  padding-left: 30px;  /* Move the text 18px to the right */
}


.solution {
  border-left: 5px solid #31A354;
  padding: 10px 15px 10px 20px;
  background-color: #EDF8E9;
  margin: 10px 0;
  border-radius: 5px;
  position: relative;
}

.solution h4 {
  margin-top: 0;
  margin-left: -8px;
  font-weight: bold;
}

